<div class="col-10 col-lg-8">
    <div class="experience-entry-heading">
        {{ $position:= index .positions 0 }}
        <!-- For single position, give emphasis on the designation-->
        <h2 class="h5">{{ $position.designation }}</h2>
        <h2 class="h6">{{ if .company.url }}<a href={{.company.url}}>{{ .company.name }}</a>{{ else }}{{ .company.name }}{{ end }}</h2>
        <!-- Add experience duration info -->
        <p class="text-muted">{{ $position.start }} - {{ if $position.end }}{{ $position.end }}{{ else }}Present{{ end }},
            {{ .company.location }}
        </p>
    </div>
    <!-- Add company overview -->
    <p>{{ .company.overview | markdownify }}</p>
    <!-- Add the responsibilities handled at this position -->
    <h2 class="h6" class="text-muted">Responsibilities:</h2>
    <ul class="justify-content-around">
    {{ range $position.responsibilities }}
        <li>{{ . | markdownify }}</li>
    {{ end }}
    </ul>
</div>
